@import "modules/UI-blocks";

body {
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 1em 2em;
}

.code-block {
	font-size: 18px;
	line-height: 1.3em;
	cursor: default;

	&__title {
		text-transform: uppercase;
	}

	code:hover {
		color: #C25;
	}
}
