@import "../base/variables";
@import "../base/mixins";

$border-color: #eee;

.code-block {
	line-height: 1.3em;
	cursor: default;
	width: 100%;

	@include on-break-point(52em) {
		width: 50%;
	}

	&__title {
		text-transform: uppercase;
	}

	&__content {
		border: 2px solid $border-color;
	}

	&__anchor {
		outline: none;
	}

	&__anchor:hover &__content {
		border-color: darken($border-color, 5%);
		background-color: lighten($bg, 1%);
	}

	&__anchor:focus &__content {
		border-color: lighten($main-color, 40%);
		background-color: lighten($main-color, 50%);
	}

	::-moz-selection {
		color: $bg;
		background-color: $selector;
	}

	::selection {
		color: $bg;
		background-color: $selector;
	}
}
