@import "../base/variables";

.ui-flx {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.ui-flx-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.ui-flx-cntr-y {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.ui-flx-spc-btwn-x {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.ui-mrgn-x {
	margin: {
		left: 1em;
		right: 1em;
	}
}

.ui-mrgn-y {
	margin-top: 1em;
	margin-bottom: 1em;
}

.ui-pad-x {
	padding-left: 1em;
	padding-right: 1em;
}

.ui-half-w {
	width: 50%;
}

.ui-bbox {
	box-sizing: border-box;
}

.ui-link {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.ui-no-ndrln {
	text-decoration: none;
}

.ui-clr-main {
	color: $main-color;
}

.ui-brdr-clr-main {
	border-color: $main-color;
}

.ui-nln-b {
	display: inline-block;
}

.ui-brdr {
	border-width: 1px;
	border-style: solid;
}

.ui-brdr-b {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.ui-brdr-t {
	border-top-width: 1px;
	border-top-style: solid;
}

.ui-heading {
	text-transform: uppercase;
	letter-spacing: 5px;
}

.ui-txt-bld {
	font-weight: 500;
}
